#This file lists all the Python packages the project needs to run.
# Even if this file only contains one element, this method is required. 

# oTree-may-not-overwrite-this-file
# The main oTree package (framework for behavioral experiments)
otree>=5.0.0a21