{% extends "global/Page.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
<div id="instructions-root"></div>
{% block formfields %}
<input type="hidden" id="id_qcm_click_sequence" name="qcm_click_sequence" value="">
{% endblock %}

<script>
// --- INACTIVITY TIMEOUT SCREENOUT ---
(function() {
	var timeoutDuration = 5 * 60 * 1000; // 5 minutes
	var screenoutUrl = 'https://app.prolific.com/submissions/complete?cc=SCREENOUT';
	var inactivityTimer = null;
	function resetInactivityTimer() {
		if (inactivityTimer) clearTimeout(inactivityTimer);
		inactivityTimer = setTimeout(function() {
			window.location.href = screenoutUrl;
		}, timeoutDuration);
	}
	['mousemove', 'mousedown', 'keydown', 'touchstart', 'scroll'].forEach(function(evt) {
		window.addEventListener(evt, resetInactivityTimer, true);
	});
	resetInactivityTimer();
})();
</script>
<link rel="stylesheet" href="{% static 'css/instructions.css' %}">
<script src="{% static 'libraries/bootbox/bootbox.js' %}"></script>
<script src="{% static 'js/instructions.js' %}"></script>
{% endblock %}
