{% extends "global/Page.html" %}
{% load static %}

{% block content %}
<div id="instructions-container">
    <h2>Instructions</h2>
        <div id="custom-instructions"></div>
        <script>
            window.isNoisyTreatment = true;
        </script>
        <script src="{% static 'js/instructions.js' %}"></script>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="margin-top:2em;">Start Experiment</button>
    </form>
</div>
{% endblock %}
